.App {
  margin: 0 auto;
  width: 40%;
  height: 100vh;
  .logo {
    margin-bottom: 1rem;
    text-align: center;
    img {
      width: 150px;
    }
    h1 {
      color: #2da4fb;
    }
  }
  @mixin btn {
    .btn {
      width: 5rem;
      height: 1.7rem;
      margin: 0 0.2rem;
      border: none;
      color: white;
      cursor: pointer;
    }
    .btn-success {
      background-color: #57ae4f;
    }
    .btn-warning {
      background-color: #fb2d68;
    }
    .btn-primary {
      background-color: #4fae9e;
    }
  }
  .input-form {
    margin: 1.2rem 0;
    @include btn();
  }
  .list {
    @include btn();
  }
  .btn-group {
    @include btn();
  }

  .modal-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    .modal-box {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 10rem;
      background-color: #fff;
      width: 40%;
      text-align: center;
      padding: 35px;
      animation-name: show;
      animation-duration: 0.5s;

      h3 {
        color: #2da4fb;
      }
      .input {
        width: 100%;
        margin: 0.5rem 0;
        input {
          width: 80%;
          font-size: 1rem;
          padding: 2px;
          outline: none;
        }
      }
    }
  }
}

@keyframes show {
  from {
    top: -100px;
  }
  to {
    transform: translate(-50%, -50%);
  }
}
